<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"
    /> -->
    <!-- <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900">
    <div class="flex flex-col space-y-5">
      <div class="text-center mt-10">
        <h1 class="text-5xl m-3 col dark:text-white">All Products</h1>
        <p class="text-l font-serif m-3 dark:text-white">
          Play around with your products and see how they look on the website
        </p>
      </div>
      <!-- ---------------------------------  -->
      <div class="m-auto r-auto">
        <div>
          <button
            class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
            type="button"
            data-modal-toggle="authentication-modal"
          >
            Add New Product
          </button>
          <button
            class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
            onclick="location.href='/'" type="button"
          >
            Get all Product
          </button>
        </div>

        <!-- modal -->
        <!-- Modal toggle -->

        <!-- Main modal -->
        <div
          id="authentication-modal"
          tabindex="-1"
          aria-hidden="true"
          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center"
        >
          <div class="relative p-4 w-full max-w-md h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <button
                type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                data-modal-toggle="authentication-modal"
              >
                <svg
                  aria-hidden="true"
                  class="w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
              <div class="py-6 px-6 lg:px-8">
                <h3
                  class="mb-4 text-xl font-medium text-gray-900 dark:text-white"
                >
                  List a new product
                </h3>
                <form class="space-y-4" action="/" method="post">
                  <div>
                    <label
                      for="title"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Product Title</label
                    >
                    <input
                      type="text"
                      name="name"
                      id="title"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      placeholder="Hand Bag"
                      required
                    />
                  </div>
                  <div>
                    <label
                      for="price"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >price</label
                    >
                    <input
                      type="number"
                      name="price"
                      id="price"
                      placeholder="200"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required
                    />
                  </div>
                  <div>
                    <label
                      for="desc"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Description</label
                    >
                    <textarea
                      id="desc"
                      name="desc"
                      maxlength="250"
                      minlength="150"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required
                      rows="4"
                    ></textarea>
                  </div>
                  <div>
                    <label
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      for="user_avatar"
                      >Upload file</label
                    >
                    <input
                      class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                      aria-describedby="user_avatar_help"
                      id="user_avatar"
                      type="file"
                    />
                  </div>
                  <button
                    type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >
                    Add product
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ----------------------- -->
      <div class="flex flex-col">
        <h1 class="text-xl text-center p-3 dark:text-white">Perform pagination</h1>
        <form class="flex flex-row justify-center space-x-2" action="/paginationData" method="post">
          <div>
            <!-- <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Page</label> -->
            <input
              type="text"
              id="page"
              name="page"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Page eg. 2"
              required
            />
          </div>
          <div>
            <!-- <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Limit</label> -->
            <input
              type="text"
              id="limit"
              name="limit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Limit eg. 5"
              required
            />
          </div>
          <div>
            <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <!-- ------------------------------------ -->
      <div class="container mx-auto">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="py-3 px-6">
                  <span class="sr-only">Image</span>
                </th>
                <th scope="col" class="py-3 px-6">Product</th>
                <th scope="col" class="py-3 px-6">Price</th>
                <th scope="col" class="py-3 px-6">Update</th>
                <th scope="col" class="py-3 px-6">Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0;i<allProducts.length;i++){ %> 
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <td class="p-4 w-32">
                  <img
                    src="/docs/images/products/apple-watch.png"
                    alt="Apple Watch"
                  />
                </td>
                <td
                  class="py-4 px-6 font-semibold text-gray-900 dark:text-white"
                >
                  <%= allProducts[i].name %> 
                </td>
                <td
                  class="py-4 px-6 font-semibold text-gray-900 dark:text-white"
                >
                  $<%= allProducts[i].price %>
                </td>
                <td class="py-4 px-6">
                  <a
                  href="/update/<%= allProducts[i].id %>"
                    class="font-medium text-blue-600 dark:text-red-500 hover:underline"
                    >Update</a
                  >
                </td>
                <td class="py-4 px-6">
                  <a
                  href="/delete/<%= allProducts[i].id %>"
                    class="font-medium text-red-600 dark:text-red-500 hover:underline"
                    >Remove</a
                  >
                </td>
              </tr>
              <% } %>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>
